<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSCILLOSCOPE</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static 'FILES/styles.css' %}>
    <script src={% static "FILES/input-knob.js" %}></script>
</head>
<body>
    <section><!--Contains the canvas for the screen of the oscilloscope & 2 optionnal lines (top and bottom of the screen)-->
        <div id="top-line"><!--Contains the top line of the screen-->


        </div>
        <canvas id="oscilloscope_screen" width="1100" height="800">

        </canvas>
        <div id="bottom-line"><!--Contains the bottom line of the screen-->

        </div>
    </section>
    <aside><!--Contains all the buttons to interact with the oscilloscope-->
        <div id="channel-select-div" class="main-divs-aside"><!--Contains the Channel selections-->
            <span>
                <button id="CH1" class="channel-not-displayed" role="button">CH1</button>
                <button id="CH2" class="channel-not-displayed" role="button">CH2</button>
                <button id="CH3" class="channel-not-displayed" role="button">CH3</button>
                <button id="CH4" class="channel-not-displayed" role="button">CH4</button>
                <button id="CH5" class="channel-not-displayed" role="button">CH5</button>
            </span>

            <span>
                <button id="CH6" class="channel-not-displayed" role="button">CH6</button>
                <button id="CH7" class="channel-not-displayed" role="button">CH7</button>
                <button id="CH8" class="channel-not-displayed" role="button">CH8</button>
                <button id="CH9" class="channel-not-displayed" role="button">CH9</button>
                <button id="CH10" class="channel-not-displayed" role="button">CH10</button>
            </span>
        </div>
        <div id="main-functions-div" class="main-divs-aside"><!--Contains the buttons to interact with the oscilloscope-->
            <span>
                <button id="run-stop" class="function-buttons">RUN/STOP</button>
                <button id="cursors" class="function-buttons">CURSORS</button>
                <button id="display" class="function-buttons">DISPLAY</button>
                <button id="trigger" class="function-buttons">TRIGGER</button>
                <button id="save" class="function-buttons">SAVE</button>
            </span>

            <span>
                <button id="autoset" class="function-buttons">AUTOSET</button>
                <button id="measure" class="function-buttons">MEASURE</button>
                <button id="print" class="function-buttons">PRINT</button>
                <button id="setup" class="function-buttons">SETUP</button>
                <button id="size" class="function-buttons">SIZE</button>
            </span>
        </div>
        <div id="knobs-div" class="main-divs-aside"><!--Contains the knobs to interact with the signal rendering-->
            <!--Knob to change the vertical offset of the signal-->
            <input
                type="range" 
                class="input-knob knob-vertical" 
                id="vertical-offset"
                data-src={% static "IMAGES/knob.png" %} 
                data-sprites="100"
                data-diameter="100"
                style="
                    background-image: url({% static "IMAGES/knob.png" %} ); 
                    background-size: 100% 10100%; 
                    background-position: 0px -6400px;"
                min="-500"
                max="500"
                value="0">
            <!--Knob to change the horizontal offset of the signal-->
            <input 
                type="range" 
                class="input-knob" 
                id="horizontal-offset"
                data-src={% static "IMAGES/knob.png" %} 
                data-sprites="100"
                data-diameter="100"
                style="
                    background-image: url({% static "IMAGES/knob.png" %} ); 
                    background-size: 100% 10100%; 
                    background-position: 0px -6400px;"
                min="-1000"
                max="1000"
                value="0">
            <!--Knob to change the vertical sclaing of the signal (how many pixels per volt unit)-->
            <input 
                type="range" 
                class="input-knob" 
                id="vertical-scaling"
                data-src={% static "IMAGES/knob.png" %} 
                data-sprites="100"
                data-diameter="100"
                style="
                    background-image: url({% static "IMAGES/knob.png" %} ); 
                    background-size: 100% 10100%; 
                    background-position: 0px -6400px;"
                min="5"
                max="500"
                value="50">
            <!--Knob to change the horizontal scaling of the signal (how many micro-seconds per pixels)-->
            <input 
                type="range" 
                class="input-knob" 
                id="horizontal-scaling"
                data-src={% static "IMAGES/knob.png" %} 
                data-sprites="100"
                data-diameter="100"
                style="
                    background-image: url({% static "IMAGES/knob.png" %} ); 
                    background-size: 100% 10100%; 
                    background-position: 0px -6400px;"
                min="0.1"
                step="0.5"
                max="200"
                value="1">
        </div>
    </aside>

    <script src={% static 'FILES/index_sinus_animated_2_scale.js' %}></script>
</body>
</html>