body{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    min-height: 100vh;

    margin: 0px;
    padding: 0px;

    /* Below are the possible backgrounds for the oscillo page. Mostly dark colors to try and mimic the real aspect of an oscilloscope*/
    background-image: url("../../IMAGES/bg-option-1.jpg");  /*yep, rugged plastic aspect with good depth*/
    /* background-image: url("../IMAGES/bg-option-2.jpg"); */ /*yep, dark contrats / really discreet gradient - mat plastic aspect*/
    /* background-image: url("../IMAGES/bg-option-3.jpg"); */ /*nope*/
    /* background-image: url("../IMAGES/bg-option-4.webp"); */ /*nope*/
    /* background-image: url("../IMAGES/bg-option-5.png"); */ /*nope*/
    background-repeat:no-repeat;
    background-size: cover;
}

.canvas-light{
    background-color: #f0f0f0;
}

.canvas-dark{
    background-color: #1f1f1f;
}

.canvas-scrollbars-light{
    background-color: #c9c9c9;
}

.canvas-scrollbars-dark{
    background-color: #141414;
}

section{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
    height: 100vh;

    /* background-color: gray; */
}

#oscilloscope_screen{
    margin: auto 0px; /* Center the canvas vertically and add horizontal margin */
    
    flex-grow: 1;
}

#top-line{
    flex-grow: 1;
}

#bottom-line{
    flex-grow: 1;
}

#auto-measures-display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;

    width: 100%;
    min-height: 19px;
}

.auto-measure{
    width: fit-content;
    height: fit-content;
    margin: 0px 1em 0.2em 0px;

    border-width: 1px;
    border-style: solid;

    font-size: small;
}


aside{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1; /* Fill up remaining space in the body */
    
    min-height: 100vh;
    
    /* background-color: grey; */
}


.main-divs-aside{
    width: 80%;

    margin: auto;
}


#channel-select-div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    margin: 2em auto;
    width: 90%;
}

#channel-select-div span{
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    width: 100%;
    margin-bottom: 1em;
}


#main-functions-div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}


#main-functions-div span{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    margin: 0px 1em;
}

#main-functions-div span button{
    margin-bottom: 1.7em;
    color: rgb(226, 226, 226);
}

#knobs-div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}


#knobs-div span{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#knobs-div span p{
    color: whitesmoke;
    text-align: center;
}

#user-related-actions{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 2em;
}

#user-related-actions button{
    font-size: 1em;
    padding: 0.3em 1.2em;
    border-radius: 10px;
    background-color: #4b4b4b;
}

#middle-line{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    margin-left: 0.5em;
}

#scroll-bar{
    width: 20px;
    height: 800px;
    margin-top: 20px;
    position: relative;
}


.scrollers{
    width: 20px;
    height: 10px;

    background-color: gray;

    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;

    position: absolute;
    top: 395px;

    cursor: grab;
}

.scrollers:active{
    cursor: grabbing;
}


#scrollbar-horizontal{
    width: 1200px;
    height: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    position: relative;
}


#scroller-Horizontal{
    height: 20px;
    width: 20px;

    background-image: url("./triangle.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(180deg);

    position: absolute;
    left: 590px;

    z-index: 10000;

    cursor: grab;
}

#scroller-Horizontal:active{
    cursor: grabbing;
}

.vertical-scrollers{
    height: 20px;
    width: 10px;
    border-bottom-left-radius: 90%;
    border-bottom-right-radius: 90%;
    position: absolute;

    cursor: grab;
}

.vertical-scrollers:active{
    cursor: grabbing;
}

#vertical-scroller-A{
    background-color: red;
    z-index: 1500;
}

#vertical-scroller-B{
    background-color: crimson;
    z-index: 1000;
}


#info-display-oscilloscope{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#info-display-oscilloscope span{
    width : 33%;
    margin: 0px auto;
}

#vpdiv-mesurements{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.chanmeasures{
    width: 22%;
    font-size: smaller;
    margin: 0px 2% 0px 0px;
}

#mathres-measurements{
    display: flex;
    justify-content: center;

    align-items: center;
}

#mathres-measurements p{
    margin: 0px;
    color: grey;
}

#tpdiv-measurement{
    display: flex;
    justify-content: right;

    align-items: center;
}

#tpdiv-measurement p{
    margin: 0px;
    color: white;
}

/*=======================================================================================================================================

                    THE FOLLOWING STYLES ARE FOR THE BASIC ASSETS OF THE APP (BUTTONS, INPUTS, ETC)

=========================================================================================================================================*/

.green{
    background: green;
    border: 2px solid darkgreen;
}

.green::before{
    background: lightgreen;
}

.green:hover{
    background: rgb(0, 100, 0);
}

.green:active{
    background: rgb(0, 100, 0);
}


.red{
    background: red;
    border: 2px solid rgb(129, 0, 0);
}

.red::before{
    background: rgb(255, 56, 56);
}

.red:hover{
    background: rgb(199, 0, 0);
}

.red:active{
    background: rgb(199, 0, 0);
}



.gray{
    background: gray;
    border: 2px solid rgb(66, 66, 66);
}

.gray::before{
    background: lightgray;
}

.gray:hover{
    background: rgb(88, 88, 88);
}

.gray:active{
    background: rgb(88, 88, 88);
}


.olive{
    background: olive;
    border: 2px solid rgb(70, 70, 0);
}

.olive::before{
    background: rgb(163, 163, 0);
}

.olive:hover{
    background: rgb(100, 100, 0);
}

.olive:active{
    background: rgb(100, 100, 0);
}


.cyan{
    background: cyan;
    border: 2px solid rgb(0, 136, 136);
}

.cyan::before{
    background: lightcyan;
}

.cyan:hover{
    background: rgb(0, 199, 199);
}

.cyan:active{
    background: rgb(0, 199, 199);
}

.orange{
    background: orange;
    border: 2px solid rgb(180, 99, 0);
}

.orange::before{
    background: lightcoral;
}

.orange:hover{
    background: darkorange;
}

.orange:active{
    background: darkorange;
}

.maroon{
    background: maroon;
    border: 2px solid rgb(61, 0, 0);
}

.maroon::before{
    background: rgb(180, 0, 0);
}

.maroon:hover{
    background: rgb(92, 0, 0);
}

.maroon:active{
    background: rgb(92, 0, 0);
}


.blue{
    background: blue;
    border: 2px solid darkblue;
}

.blue::before{
    background: lightblue;
}

.blue:hover{
    background: darkblue;
}

.blue:active{
    background: darkblue;
}


.purple{
    background: purple;
    border: 2px solid rgb(65, 0, 65);
}

.purple::before{
    background: rgb(177, 1, 177);
}

.purple:hover{
    background: rgb(100, 0, 100);
}

.purple:active{
    background: rgb(100, 0, 100);
}

.black{
    background: black;
    border: 2px solid rgb(51, 51, 51);
}

.black::before{
    background: rgb(46, 46, 46);
}

.black:hover{
    background: black;
}

.black:active{
    background: black;
}


.lime{
    background: lime;
    border: 2px solid rgb(30, 128, 30);
}

.lime::before{
    background: rgb(86, 255, 86);
}

.lime:hover{
    background: limegreen;
}

.lime:active{
    background: limegreen;
}

.yellow{
    background: yellow;
    border: 2px solid rgb(122, 122, 0);
}

.yellow::before{
    background: lightyellow;
}

.yellow:hover{
    background: rgb(187, 187, 0);
}

.yellow:active{
    background: rgb(187, 187, 0);
}

.pink{
    background: pink;
    border: 2px solid rgb(133, 99, 104);
}

.pink::before{
    background: lightpink;
}

.pink:hover{
    background: rgb(201, 151, 159);
}

.pink:active{
    background: rgb(201, 151, 159);
}

.fuchsia{
    background: fuchsia;
    border: 2px solid rgb(119, 0, 119);
}

.fuchsia::before{
    background: rgb(255, 125, 255);
}

.fuchsia:hover{
    background: rgb(190, 0, 190);
}

.fuchsia:active{
    background: rgb(190, 0, 190);
}

.white{
    background: white;
    border: 2px solid rgb(99, 99, 99);
} 

.white::before{
    background: whitesmoke;
}

.white:hover{
    background: rgb(179, 179, 179);
}

.white:active{
    background: rgb(179, 179, 179);
}


/*CHANNEL DISPLAYED BUTTONS*/

.channel-displayed {
    touch-action: manipulation;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    touch-action: manipulation;
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    text-align: center;

}

.channel-displayed::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    box-shadow: 0 0 0 2px black, 0 0.625em 0 0 black;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.channel-displayed:hover {
    transform: translate(0, 0.25em);
}
.channel-displayed:hover::before {
    box-shadow: 0 0 0 2px black, 0 0.5em 0 0 black;
    transform: translate3d(0, 0.5em, -1em);
}
.channel-displayed:active {
    transform: translate(0em, 0.75em);
}
.channel-displayed:active::before {
    box-shadow: 0 0 0 2px black, 0 0 black;
    transform: translate3d(0, 0, -1em);
}


/*CHANNEL NOT DISPLAYED BUTTONS*/

.channel-not-displayed {
    touch-action: manipulation;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    touch-action: manipulation;
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    background: #585858;
    border: 2px solid #4b4b4b;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

.channel-not-displayed::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #969696;
    border-radius: inherit;
    box-shadow: 0 0 0 2px black, 0 0.625em 0 0 black;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.channel-not-displayed:hover {
    background: #707070;
}

.channel-not-displayed:active {
    background: #a3a3a3;
    transform: translate(0em, 0.75em);
}
.channel-not-displayed:active::before {
    box-shadow: 0 0 0 2px black, 0 0 black;
    transform: translate3d(0, 0, -1em);
}

.button-focused {
    border: 2px solid white !important;
}


.channel-displayed, .channel-not-displayed{
    padding: 1em 2em;

    margin: 0px 0.2em 0px 0.2em;
}


.function-buttons {
    padding: 0.5em 1em;

    touch-action: manipulation;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    touch-action: manipulation;
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    background: #585858;
    border: 2px solid #4b4b4b;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

.function-buttons::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #969696;
    border-radius: inherit;
    box-shadow: 0 0 0 2px black, 0 0.625em 0 0 black;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.function-buttons:hover {
    background: #707070;
}

.function-buttons:active {
    background: #a3a3a3;
    transform: translate(0em, 0.75em);
}
.function-buttons:active::before {
    box-shadow: 0 0 0 2px black, 0 0 black;
    transform: translate3d(0, 0, -1em);
}

/*STYLES USED FOR THE TOAST (SMALL POPUP)*/

#toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.toast-success {
    background-color: lightgreen;
}

.toast-error {
    background-color:crimson;
}

.toast-info {
    background-color: lightskyblue;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}



/*============================= DEFAULT MODAL POPUP STYLES =============================*/

/* modal background */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.089); /* Black w/ opacity */
}

/* modal content */
.modal-content {
    background-color: whitesmoke;
    margin: auto;
    padding: 20px;
    border: 2px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
    height: fit-content; /* Could be more or less, depending on screen size */
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    border-radius: 10px;
}

/* close button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

    transition: 0.2s;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;

    text-shadow: 4px 4px #313131a1;
    transition: 0.2s;
}
  
#modal-generated-content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: left;

    padding: 1.5em;

    height: 100%;
}

.modal-save-button{
    margin: 1em auto;
    width: 60%;
    background-color: #0dcaf0;
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.562);
    border: 1px solid #0a9fbd;
    border-radius: 5px;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    font-weight: 500;
    color: #1a1a1a;

    transition: 0.2s;
}


.modal-save-button:hover{
    background-color: #0bb6d8;
    cursor: pointer;
    box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.562);
    transition: 0.2s;
}

.modal-select-trigger{
    margin: 0.3em 0em 1em 0em;
}

.modal-trigger-button{
    margin-bottom: 1em;
}

#buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Changes to 'space-between' to allow alone buttons to center */
    align-items: flex-start;
    gap: 10px; /* Adjust the space between rows and between buttons in a row */
}

#buttonContainer button {
    flex: 1 1 48%; /* Allows buttons to grow and shrink but not exceed half of the container's width minus gap */
    max-width: calc(50% - 10px); /* Ensures the button doesn't exceed half the width minus half the gap */
}

#buttonContainer::after {
    content: "";
    flex: 1 1 48%; /* Mimics a button to maintain spacing */
    visibility: hidden; /* Invisible but maintains space */
}


.modal-measure-button{
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    border-radius: 5px;
    border: 1px solid black;
}

.active-measure-button{
    background-color: lightgreen;
}

.inactive-measure-button{
    background-color: #e9e9ed;
}

#autoSwitchButton{
    margin-top: auto;
    margin-bottom: 0em;
    background-color: #0dcaf0;
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.562);
    border: 1px solid #0a9fbd;
    padding-top: 0.6em;
    padding-bottom: 0.6em;

    transition: 0.2s;
}

#autoSwitchButton:hover{
    background-color: #0bb6d8;
    cursor: pointer;
    box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.562);
    transition-duration: 0.2s;
}

#saveButton{
    width: 60%;
    margin: 1.5em auto 1em auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    color: whitesmoke;
    font-weight: 600;

    background-color: #1e9e62;
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.562);
    border: 1px solid #177047;

    transition: 0.2s;
}

#saveButton:hover{
    cursor: pointer;
    background-color: #198b56;
    box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.562);
    transition: 0.2s;
}

#resetButton{
    width: 50%;
    margin: 2em auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    color: whitesmoke;
    font-weight: 600;

    background-color: #ffc107;
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.562);
    border: 1px solid #d19e06;

    transition: 0.2s;    
}

#resetButton:hover{
    cursor: pointer;
    background-color: #dfaa0b;
    box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.562);
    transition: 0.2s;
}

#unzoomButton{
    width: 50%;
    margin: 0em auto 1.5em auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    color: whitesmoke;
    font-weight: 600;

    background-color: #ffc107;
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.562);
    border: 1px solid #d19e06;

    transition: 0.2s;
}

#unzoomButton:hover{
    cursor: pointer;
    background-color: #dfaa0b;
    box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.562);
    transition: 0.2s;
}

#triggerOptionsSaveButton, #setupModalSaveButton{
    margin-top: 1.5em;
    border-radius: 5px;
    background-color: #0dcaf0;
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.562);
    border: 1px solid #0a9fbd;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    transition: 0.2s;
}

#triggerOptionsSaveButton:hover, #setupModalSaveButton:hover{
    cursor: pointer;
    background-color: #0ca8c7;
    box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.562);
    transition: 0.2s;
}

#selectHorizontal, #selectVertical, #selectValue{
    width: 40%;
    text-align: center;
    box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.562);
}

#selectGridDisplay, #selectTheme{
    width: 40%;
    text-align: center;
    box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.562);
}

#selectSlotChannel, #selectChannel, #selectOperation, #selectSecondChannel{
    width: 40%;
    text-align: center;
    box-shadow: 5px 3px 4px rgba(0, 0, 0, 0.562);
}

#sizeSelectionInput{
    text-align: center;
    box-shadow: 5px 3px 4px rgba(0, 0, 0, 0.562);
}

.generated-signal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    margin-bottom: 0.5em;
}

.generated-signal button{
    background-color: crimson;
    padding: 0px;
    border: none !important;
    
    width: 2.5em;
    height: 2.5em;
    margin-left: 1em;
    background-image: url("./delete.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    box-shadow: 5px 3px 4px rgba(0, 0, 0, 0.562);

    transition: 0.2s;
}

.generated-signal button:hover{
    cursor: pointer;
    box-shadow: 8px 4px 5px rgba(0, 0, 0, 0.562);
    transition: 0.2s;
}

.generated-signal p {
    margin: 0px;
    font-size: 1.2em;
}


#scroll-bar-horizontal-cursors{
    width: 20px;
    height: 800px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
    position: relative;
}

#scroller-horizontal-A, #scroller-horizontal-B{
    height: 10px;
    width: 20px;
    border-bottom-left-radius: 90%;
    border-top-left-radius: 90%;
    position: absolute;

    cursor: grab;
}

#scroller-horizontal-A:active, #scroller-horizontal-B:active{
    cursor: grabbing;
}

#scroller-horizontal-A{
    background-color: orange;
}

#scroller-horizontal-B{
    background-color: darkorange;
}

#trigger-cursor{
    background-color: blue;
    color: white;

    text-align: end;
    font-weight: 600;

    height: 20px;
    width: 20px;
    border-bottom-left-radius: 90%;
    border-top-left-radius: 90%;
    position: absolute;
    cursor: grab;

    top: 390px;
}


#colorSelectionContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#colorSelectionContainer div h5{
    margin: 0.2em 0px 1em 0px;
}

#DarkColorSelectionContainer, #LightColorSelectionContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 50%;
}

#DarkColorSelectionContainer{
    border-right: 2px solid black;
    padding-right: 0.4em;
    margin-right: 0.2em;
}

.individualChannelColorContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.3em;
}

.individualChannelColorContainer p{
    margin: 0px;
}

.individualChannelColorContainer select{
    margin: 0px;
    border-radius: 5px;
    border: 1px solid gray;
}

#GridOpacityContainer{
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#GridOpacityContainer label{
    width: 70%;
}

#GridOpacityContainer input{
    width: 30%;
    border-radius: 5px;
    border: 1px solid gray;
    text-align: center;
}