body{


    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
    align-items: center;
}


footer{
    position: fixed;
    bottom: 0;
}

.test{
    background-color: darkgreen;
    background-color: chocolate;
    background-color: #e2e2e2;


}