<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSCILLOSCOPE</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static 'FILES/styles.css' %}>
    <script src={% static "FILES/input-knob.js" %}></script>
</head>
<body>
    <div id="toast"><!--message goes here--></div>
    {% csrf_token %}<!--Token used during http request and such by the javascript-->
    <script>
        const channelsMetaData = {{ channels|safe }};
    </script>
    <section><!--Contains the canvas for the screen of the oscilloscope & 2 optionnal lines (top and bottom of the screen)-->
        <div id="top-line"><!--Contains the top line of the screen-->

        </div>
        <div id="middle-line">
            <div id="scroll-bar">
                <div id="scroller"></div>
            </div>
            <canvas id="oscilloscope_screen" width="1024" height="800">

            </canvas>
        </div>
        <div id="bottom-line"><!--Contains the bottom line of the screen-->

        </div>
    </section>
    <aside><!--Contains all the buttons to interact with the oscilloscope-->
        <nav id="user-related-actions">
            {% if request.user.is_authenticated %}
                <a href={% url "oscillo:disconnect" %}><button>Logout</button></a>
                <a href="#"><button>Profile</button></a>
            {% else %}
                <a href={% url "oscillo:login" %}><button>Login</button></a>
                <a href={% url "oscillo:register" %}><button>Register</button></a>
            {% endif %}
            <a href={% url "oscillo:oscilloSelect" %}><button>Settings</button></a>

        </nav>
        <div id="channel-select-div" class="main-divs-aside"><!--Contains the Channel selections-->
            <span>
                <button id="CH1" class="channel-not-displayed" role="button">CH1</button>
                <button id="CH2" class="channel-not-displayed" role="button">CH2</button>
                <button id="CH3" class="channel-not-displayed" role="button">CH3</button>
                <button id="CH4" class="channel-not-displayed" role="button">CH4</button>
                <button id="CH5" class="channel-not-displayed" role="button">CH5</button>
            </span>

            <span>
                <button id="CH6" class="channel-not-displayed" role="button">CH6</button>
                <button id="CH7" class="channel-not-displayed" role="button">CH7</button>
                <button id="CH8" class="channel-not-displayed" role="button">CH8</button>
                <button id="CH9" class="channel-not-displayed" role="button">CH9</button>
                <button id="CH10" class="channel-not-displayed" role="button">CH10</button>
            </span>
            </span>
        </div>
        <div id="main-functions-div" class="main-divs-aside"><!--Contains the buttons to interact with the oscilloscope-->
            <span>
                <button id="run-stop" class="function-buttons">RUN/STOP</button>
                <button id="cursors" class="function-buttons">CURSORS</button>
                <button id="display" class="function-buttons">DISPLAY</button>
                <button id="trigger" class="function-buttons">TRIGGER</button>
                <button id="save" class="function-buttons">SAVE</button>
            </span>

            <span>
                <button id="autoset" class="function-buttons">AUTOSET</button>
                <button id="measure" class="function-buttons">MEASURE</button>
                <button id="print" class="function-buttons">PRINT</button>
                <button id="setup" class="function-buttons">SETUP</button>
                <button id="size" class="function-buttons">SIZE</button>
            </span>
        </div>
        <div id="knobs-div" class="main-divs-aside"><!--Contains the knobs to interact with the signal rendering-->
            <!--Knob to change the horizontal offset of the signal-->
            <input 
                type="range" 
                class="input-knob" 
                id="horizontal-offset"
                data-src={% static "IMAGES/knob.png" %} 
                data-sprites="100"
                data-diameter="100"
                style="
                    background-image: url({% static "IMAGES/knob.png" %} ); 
                    background-size: 100% 10100%; 
                    background-position: 0px -6400px;"
                min="-10000"
                max="1000"
                value="0">
            <!--Knob to change the vertical scaling of the signal (how many pixels per volt unit)-->
            <input 
                type="range" 
                class="input-knob" 
                id="vertical-scaling"
                data-src={% static "IMAGES/knob.png" %} 
                data-sprites="100"
                data-diameter="100"
                style="
                    background-image: url({% static "IMAGES/knob.png" %} ); 
                    background-size: 100% 10100%; 
                    background-position: 0px -6400px;"
                min="0"
                max="250"
                value="50">
            <!--Knob to change the horizontal scaling of the signal (how many micro-seconds per pixels)-->
            <input 
                type="range" 
                class="input-knob" 
                id="horizontal-scaling"
                data-src={% static "IMAGES/knob.png" %} 
                data-sprites="100"
                data-diameter="100"
                style="
                    background-image: url({% static "IMAGES/knob.png" %} ); 
                    background-size: 100% 10100%; 
                    background-position: 0px -6400px;"
                min="1"
                step="1"
                max="300"
                value="50">
        </div>
    </aside>

    {% comment %} <script src={% static 'FILES/index.js' %}></script> {% endcomment %}
    {% comment %} <script src={% static 'FILES/getData.js' %}></script> {% endcomment %}
    <script src={% static 'FILES/main.js' %}></script>
</body>
</html>