<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSCILLOSCOPE</title>
    {% load static %}
    <link rel="icon" type="image/png" href={% static "IMAGES/oscillo-icon.png" %}>
    <link rel="stylesheet" type="text/css" href={% static 'FILES/styles.css' %}>
    <script src={% static "FILES/input-knob.js" %}></script>
    <script src={% static "FILES/fft.js" %}></script>
</head>
<body>
    <div id="toast"><!--message goes here--></div>
    {% csrf_token %}<!--Token used during http request and such by the javascript-->
    <script>
        const channelsMetaData = {{ channels|safe }};
    </script>
    <section>
        <div id="top-line"><!--Contains the top line of the screen-->

        </div>
        <div id="middle-line">
            <div id="scroll-bar" class="canvas-scrollbars-dark">
                <div id="scroller"></div>
            </div>
            <div id="sub-div-horizontal-offset">
                <div id="scrollbar-horizontal" class="canvas-scrollbars-dark">
                    <div id="vertical-scroller-A" class="vertical-scrollers" style="display: none;"></div>
                    <div id="scroller-Horizontal"></div>
                    <div id="vertical-scroller-B" class="vertical-scrollers" style="display: none;"></div>
                </div>
                <canvas id="oscilloscope_screen" class="canvas-dark" width="1200" height="800">

                </canvas>
                <div id="info-display-oscilloscope" class="canvas-scrollbars-dark">
                    <span id="vpdiv-mesurements">
                        <p id="mes-CH1" class="chanmeasures"></p>
                        <p id="mes-CH2" class="chanmeasures"></p>
                        <p id="mes-CH3" class="chanmeasures"></p>
                        <p id="mes-CH4" class="chanmeasures"></p>
                        <p id="mes-CH5" class="chanmeasures"></p>
                        <p id="mes-CH6" class="chanmeasures"></p>
                        <p id="mes-CH7" class="chanmeasures"></p>
                        <p id="mes-CH8" class="chanmeasures"></p>
                        <p id="mes-CH9" class="chanmeasures"> </p>
                        <p id="mes-CH10" class="chanmeasures"></p>
                    </span>
                    <span id="mathres-measurements">
                        <p id="mathres-1">--.--</p>
                    </span>
                    <span id="tpdiv-measurement">
                        <p id="tpdiv-value">-- xx/div</p>
                    </span>
                </div>
                <span id="auto-measures-display" class="canvas-scrollbars-dark">
                    <p id="vpp-measure" class="auto-measure"></p>
                    <p id="min-measure" class="auto-measure"></p>
                    <p id="max-measure" class="auto-measure"></p>
                    <p id="avg-measure" class="auto-measure"></p>
                    <p id="mid-measure" class="auto-measure"></p>
                    <p id="rms-measure" class="auto-measure"></p>
                    <p id="avg-freq-measure" class="auto-measure"></p>
                    <p id="max-freq-measure" class="auto-measure"></p>
                    <p id="min-freq-measure" class="auto-measure"></p>
                </span>
            </div>
            <div id="scroll-bar-horizontal-cursors" class="canvas-scrollbars-dark">
                <div id="scroller-horizontal-A" style="display: none;">

                </div>
                <div id="scroller-horizontal-B" style="display: none;">

                </div>
            </div>
        </div>
        <div id="bottom-line"><!--Contains the bottom line of the screen-->
        </div>
    </section>
    <aside id="aside"><!--Contains all the buttons to interact with the oscilloscope-->
        <nav id="user-related-actions">
            {% if request.user.is_authenticated %}
                <a href={% url "oscillo:disconnect" %}><button>Logout</button></a>
                <a href="#"><button>Profile</button></a>
            {% else %}
                <a href={% url "oscillo:login" %}><button>Login</button></a>
                <a href={% url "oscillo:register" %}><button>Register</button></a>
            {% endif %}
            <a href={% url "oscillo:oscilloSelect" %}><button>Settings</button></a>

        </nav>
        <div id="channel-select-div" class="main-divs-aside"><!--Contains the Channel selections-->
            <span>
                <button id="CH1" class="channel-not-displayed ch-button" role="button"><p style="margin: 0px;">CH1</p></button>
                <button id="CH2" class="channel-not-displayed ch-button" role="button"><p style="margin: 0px;">CH2</p></button>
                <button id="CH3" class="channel-not-displayed ch-button" role="button"><p style="margin: 0px;">CH3</p></button>
                <button id="CH4" class="channel-not-displayed ch-button" role="button"><p style="margin: 0px;">CH4</p></button>
                <button id="CH5" class="channel-not-displayed ch-button" role="button"><p style="margin: 0px;">CH5</p></button>
            </span>

            <span>
                <button id="CH6" class="channel-not-displayed ch-button" role="button"><p style="margin: 0px;">CH6</p></button>
                <button id="CH7" class="channel-not-displayed ch-button" role="button"><p style="margin: 0px;">CH7</p></button>
                <button id="CH8" class="channel-not-displayed ch-button" role="button"><p style="margin: 0px;">CH8</p></button>
                <button id="CH9" class="channel-not-displayed ch-button" role="button"><p style="margin: 0px;">CH9</p></button>
                <button id="CH10" class="channel-not-displayed ch-button" role="button"><p style="margin: 0px;">CH10</p></button>
            </span>
            </span>
        </div>
        <div id="main-functions-div" class="main-divs-aside"><!--Contains the buttons to interact with the oscilloscope-->
            <span>
                <button id="run-stop" class="function-buttons">RUN</button>
                <button id="cursors" class="function-buttons">CURSORS</button>
                <button id="display" class="function-buttons">DISPLAY</button>
                <button id="trigger" class="function-buttons">TRIGGER</button>
                <button id="save" class="function-buttons">SAVE</button>
            </span>

            <span>
                <button id="autoset" class="function-buttons">AUTOSET</button>
                <button id="measure" class="function-buttons">MEASURE</button>
                <button id="print" class="function-buttons">PRINT</button>
                <button id="setup" class="function-buttons">SETUP</button>
                <button id="size" class="function-buttons">SIZE</button>
            </span>
        </div>
        <div id="knobs-div" class="main-divs-aside"><!--Contains the knobs to interact with the signal rendering-->
            <!--Knob to change the vertical scaling of the signal (how many pixels per volt unit)-->
            <input 
                type="range" 
                class="input-knob" 
                id="vertical-scaling"
                data-src={% static "IMAGES/knob.png" %} 
                data-sprites="100"
                data-diameter="100"
                style="
                    background-image: url({% static "IMAGES/knob.png" %} ); 
                    background-size: 100% 10100%; 
                    background-position: 0px -6400px;"
                min="0"
                max="10"
                value="1"
                step="0.01">
            <!--Knob to change the horizontal scaling of the signal (how many micro-seconds per pixels)-->
            <input 
                type="range" 
                class="input-knob" 
                id="horizontal-scaling"
                data-src={% static "IMAGES/knob.png" %} 
                data-sprites="100"
                data-diameter="100"
                style="
                    background-image: url({% static "IMAGES/knob.png" %} ); 
                    background-size: 100% 10100%; 
                    background-position: 0px -6400px;"
                min="1"
                step="1"
                max="300"
                value="50">
        </div>
    </aside>

    <!--Modal popup element (filled using javascript)-->
    <div id="modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <div id="modal-generated-content">
            
          </div>
        </div>
      </div>

    <script src={% static 'FILES/main.js' %}></script>
</body>
</html>